.admin-products{
     padding: 2rem 0px;
     box-sizing: border-box;
}
.wrapper-container{
   
    width:min(100%,95%);
    margin-inline: auto;
}
.wrapper-container h2{
    margin: 0;
    padding: 0;
}
.admin-product-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.add-pro{
    padding: 2rem 0px;
    box-sizing: border-box;
}
.product-form{
    background-color: white;
    padding: 2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.product-form img{
    width: 300px;
    height: 300px;
    object-fit: fill;
    border: 1px solid black;
}
.product-form input,textarea{
    padding: 0.75rem;
    box-sizing: border-box;
    font-size: 17px;
}
.product-form textarea{
    resize: none;
}
.product-form-field{
    display: flex;
    gap: 20px;
 
}
.product-form-field > *{
    flex: 1;
   display: flex;
 
   align-items: center;
   justify-content: space-between;
}
.product-rows label{
    font-size: 20px;
}


