.Benefits-display{
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    /* align-items: center; */
    height: auto;
}

.Benefit-img{
    flex-basis: 50%;
    background-image: linear-gradient(to right, grey,grey, white,white,white 100%);
    margin: 1%;
}
.Benefit-TAFM{
    letter-spacing: 4rem;
    margin-left: 15%;
    /* padding-left: 10px; */
}
.Benefits-outer-display{
    /* margin-top: 5%; */
    flex-basis: 50%;
    background-color: red;
    padding: 3rem 5rem;
    /* display: flex;
    align-items: center;
    flex-direction: column; */
    /* gap: 30px; */
}

.slick-sidle >{
    overflow: hidden;
}


.color-white{
    color: white;
}
.color-grey{
    color: grey ;
}

.Benefit-logo{
    position:absolute;
    /* top: -140px;
    left: -40px; */
    filter: brightness(1);
    /* background-color: white; */
    mix-blend-mode:multiply;
    z-index: 10;
    width: 250px;
    height: 150px;
    user-select: none;
}

.Benefit-product-img{
    margin-left: 10%;
    width: 500px;
    height: 500px;
    mix-blend-mode: multiply;

}

.slick-silde{
    margin: 0;
    background-color: blue;
}

.Benefits-carosel-container{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    background-color: blue;
    text-align: center;
}


  @media (max-width:767px) {
    .Benefits-display{
        flex-direction: column;
    }
    .Benefit-TAFM{
        letter-spacing: 2rem;
    }
    .Benefit-product-img{
        width: 200px;
        height: 200px;
    }
  }