.Benefits-display{
    display: flex;
    flex-direction: row;
    /* height: auto; */
    /* width: 100%; */

    padding: 5.5rem 5rem;
}

.Benefit-img{
    flex-basis: 50%;
    background-image: linear-gradient(to right, rgb(204, 202, 202),rgb(204, 202, 202), white,white,white 100%);
    position: relative;
    
}
.Benefit-TAFM{
    letter-spacing: 5rem;
    margin-left: 15%;
}
.Benefits-outer-display{
    flex-basis: 50%;
    box-sizing: border-box;
    display: flex;
    align-items: center;

}

.color-white{
    color: white;
}
.color-grey{
    color: rgb(204, 202, 202) ;
}

.Benefit-logo{
    position:absolute;
    filter: brightness(1);
    mix-blend-mode:multiply;
    z-index: 10;
    top: 0;
    left: 0;
    transform: translate(-50%,-50%);
    width: 150px;
    height: 150px;
    user-select: none;
}

.Benefit-product-img{
    width: 500px;
    height: 500px;
    object-fit: contain;
    mix-blend-mode: multiply;
}

.slick-silde{
    margin: 0;
    background-color: blue;
}

.Benefits-carosel-container{
    background-color: blue;
    text-align: center;
}

@media (max-width:768px) {
    .Benefits-display{
        padding: 3rem;
    }
    .Benefit-img{
        padding: 0;
        width: 50%;
    }
    .Benefit-logo{
        width: 20%;
        height: 20%;
    }
    .Benefit-product-img{
        width: 80%;
        height: 70%;
    }
    .Benefits-outer-display{
        width: 50%;
    }
    .Benefit-TAFM{
        letter-spacing: 3rem;
    }
    
}

  @media (max-width:767px) {
    .Benefits-display{
        flex-direction: column;
        padding: 1rem;
        align-items: center;
    }
    .Benefit-TAFM{
        font-size: 1rem;
        letter-spacing: 2rem;
    }
    .Benefit-img{
        width: 80%;
    }
    .Benefit-logo{
        width: 20%;
        height: 20%;
    }
    .Benefits-outer-display{
        width: 100%;
        /* background-color: red; */
    }
    .Benefit-product-img{
        width: 100%;
        height: 50%;
    }
    .Benefit-product-img{
        /* width: 200px;
        height: 200px; */
    }
  }