.product-header-display {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(45deg, rgb(8, 8, 58) ,grey,rgb(5, 5, 56));
}

.product-header-topic {
    margin: 1%;
    display: flex;
    flex-direction: column;
    width: max-content;

}
.product-header-topic h2{
    font-size: 4rem;
    padding: 0;
    margin: 0;
    text-align: center;
    color: white;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(243, 208, 208, 0.5);
    letter-spacing: 2px;
    font-weight: bold;
}
.product-header-topic img{
    width: 100%;
    height: 50px;
    filter: brightness(10);
    display: block;
}
.product-header-description{
    margin: 1%;
    padding: 0px 15px;
    font-size: 15px;
    color: white;
}

.product-header-description p{
    text-align: justify;
    padding: 0rem 3rem;
}


@media (max-width:1023px) {
    .product-header-topic {
        font-size: 3rem;
    }
}

@media (max-width:767px) {
    .product-header-topic h2{
        font-size: 3rem;
        width: 100%;
   
    }
    .product-header-topic{
        width: 100%;
    }
}

@media (max-width:375px) {
    .product-header-topic{ 
        width: 100%;
    }
    .product-header-topic h2{
        padding: 1% 0%;
        /* letter-spacing: 0px; */
        font-size: 2rem;
        width: 100%;
    }
    .product-header-description p{
        text-align: justify;
        padding: 0rem 1rem;
    }
    
}