@font-face {
    font-family: Imported;
    src: url('../../Assets/fonts/conthrax-sb.otf');
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.career-header-display {
    display: flex;
    flex-direction: column;
    background-image: url('../../Assets/careers/careersBg.png');
    background-size:cover;
    background-repeat: no-repeat;
    gap: 5px;
}

.career-header-topic {

    display: flex;
   justify-content: center;
    width: max-content;
    margin: 0 0;
    padding: 4rem 0rem 0 4rem;

}
.career-header-topic h2{
    font-size: 1.5rem;
   
    margin: 0;
    text-align: center;
    color: white;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(243, 208, 208, 0.5);
    letter-spacing: 2px;
    font-weight: bold;
    font-family: Imported;
    /* position: relative; */
 
}
.career-header-topic h2::after{
    /* content: "";
    width: 100%;
    height: 120px;
    position: absolute;
    top: 10%;
    left: 0;
    background-image:url('../../Assets/underLine2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; */

}
.career-header-topic img{
    width: 100%;
    height: 50px;
    filter: brightness(10);
    display: block;
}
.career-header-description{
    margin: 1%;
    padding: 0px 3rem;
    font-size: 15px;
    color: white;
}

.career-header-description p{
    text-align: justify;
    padding: 0rem 0rem;
    color: rgb(175, 174, 174);
    font-family: 'Poppins';
}


@media (max-width:1023px) {
    .career-header-topic {
        font-size: 2rem;
    }
}
@media (max-width:768px) {
    .career-header-topic {
        font-size: 2rem;
    }
}
@media (max-width:767px) {
    .career-header-topic {
        padding: 1rem 0 0 0;
    }
    .career-header-topic h2{
        font-size: 1.5rem;
    }

    .career-header-topic img {
        width: 55%;
        padding: 0 0 0 5.5rem;
    }
    .career-header-topic{
        width: 100%;
    }
    .career-header-description p{
        font-size: 0.7rem ;
        padding: 0 0;
    }
    
}

/* @media (max-width:375px) {
    .career-header-topic{ 
        width: 100%;
    }
    .career-header-topic h2{
        padding: 3% 0% 0 0;
        margin: 0;
        font-size: 1.5rem;
        width: 100%;
    }
    .career-header-description p{
        text-align: justify;
        padding: 0rem 1rem;
        font-size: 0.5rem;
    }
    .career-header-topic img{
        width: 65%;
        padding: 0 0 0 3.5rem;
    }
    
} */