.career-header-display {
    display: flex;
    flex-direction: column;
    background-image: url('../../Assets/careers/careersBg.png');
    background-size:cover;
    background-repeat: no-repeat;
    gap: 30px;
}

.career-header-topic {

    display: flex;
   justify-content: center;
    width: max-content;
    
    padding: 4rem 0rem 0 4rem;

}
.career-header-topic h2{
    font-size: 2rem;
   
    margin: 0;
    text-align: center;
    color: white;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(243, 208, 208, 0.5);
    letter-spacing: 2px;
    font-weight: bold;
    position: relative;
 
}
.career-header-topic h2::after{
    content: "";
    width: 100%;
    height: 120px;
    position: absolute;
    top: 10%;
    left: 0;
    background-image:url('../../Assets/underLine2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}
.career-header-topic img{
    width: 100%;
    height: 50px;
    filter: brightness(10);
    display: block;
}
.career-header-description{
    margin: 1%;
    padding: 0px 15px;
    font-size: 15px;
    color: white;
}

.career-header-description p{
    text-align: justify;
    padding: 0rem 3rem;
    color: rgb(175, 174, 174);
}


@media (max-width:1023px) {
    .career-header-topic {
        font-size: 2rem;
    }
}
@media (max-width:768px) {
    .career-header-topic {
        font-size: 2rem;
    }
}
@media (max-width:767px) {
    .career-header-topic {
        padding: 1rem 0 0 0;
    }
    .career-header-topic h2{
        font-size: 1.5rem;
    }

    .career-header-topic img {
        width: 55%;
        padding: 0 0 0 5.5rem;
    }
    .career-header-topic{
        width: 100%;
    }
    .career-header-description p{
        font-size: 0.7rem ;
        padding: 0 0;
    }
    
}

/* @media (max-width:375px) {
    .career-header-topic{ 
        width: 100%;
    }
    .career-header-topic h2{
        padding: 3% 0% 0 0;
        margin: 0;
        font-size: 1.5rem;
        width: 100%;
    }
    .career-header-description p{
        text-align: justify;
        padding: 0rem 1rem;
        font-size: 0.5rem;
    }
    .career-header-topic img{
        width: 65%;
        padding: 0 0 0 3.5rem;
    }
    
} */