.home-product-display{
    /* background-color: red; */
}
.hm-product-inner{
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    gap: 10px;
    border: 1px solid grey;
    width: 80%;
    height: 50vh;
    border-radius: 10px;
}
.hm-product-inner img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.hm-product-inner picture{
    background-color: rgb(66, 66, 66);
}
.hm-product-upper{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    margin: 5%;

    
}

.pagination{
    position: relative;
    top: -280px;
    margin: 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pagination button{
    border: none;
    width: 50px;
    height: 30px;
    border-radius: 20px;
    background-color: white;
    z-index: 1px;
    box-shadow: 2px 2px 10px  grey;
}


@media (max-width:768px) {
    .hm-product-upper{
        grid-template-columns: 2fr 2fr 2fr;
    }
}

@media (max-width:767px) {
    .hm-product-upper{
        grid-template-columns: 2fr ;
        gap: 10px;
    }
    .pagination{
        display: none;
    }
}