
.blogs-details-content {
    background-color: rgb(255, 255, 255);
    display: flex;
    padding: 1rem 2.5rem;
    flex-direction: column;
}
.blogs-details-content-picture {
    /* flex-basis: 50%; */
    width: 100%;
   
    /* background-color: blue ; */
    border-radius: 20px;
    
  
}

.blogs-details-content-picture img {
    width: 100%;
    height: 100%;
    object-fit: contain;

}
.blogs-details-content h2{
    padding: 0rem;
    padding-top: 2rem;
}
.blogs-details-content p{
    text-align: justify;
}