.dashboard-component-container{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px grey;
    padding: 2rem;
    gap: 20px;
    align-items: center;
    /* background-color: red; */
    /* width: 100%; */
}
.dashboard-component-header{
    /* background-color: yellow; */
    padding: 1rem;
    font-size: 1.5rem;
}
.dashboard-component-num{
    font-family: 'imported';
    font-size: 1.25rem;
    padding: 1rem;
}
