.mainDisplay-display {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../Assets/home/mainBg.png');
    background-repeat: no-repeat;
    padding: 5rem 0;
    background-size: cover;

}
.main-display-para{
    text-align: justify;
}
.mainDisplay-picture {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainDisplay-picture img{
    width: 100%;
    object-fit: contain;
}

.mainDisplay-innerContent {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    padding: 0rem 5rem;
}

.mainDisplay-topic {
    font-family: "Poppins";
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
    background-size: cover;
    background-image: linear-gradient(-225deg,rgb(22, 22, 24),rgb(22, 22, 24),rgb(105, 100, 104));
    background-clip: text;  
    -webkit-text-fill-color: transparent;
}

@media (max-width:768px) {
    .mainDisplay-topic{
        font-size: 1.5rem;
    }
    .main-display-para{
        font-size: 1rem;
    }
    .mainDisplay-subtopic{
        margin: 0;
    }
    .break-tag{
        display: none;
    }
    .mainDisplay-innerContent{
        padding: 0 1rem;
    }
}

@media (max-width:767px) {
    .mainDisplay-display{
        flex-direction: column;
        /* padding: 0; */
    }
    .mainDisplay-topic{
        font-size: 1.13rem;
        text-align: center;
    }
    .mainDisplay-innerContent{
        align-items: center;
        padding: 1rem;
    }
    .mainDisplay-subtopic h4{
        text-align: center;
    }
    .main-display-para{
        font-size: 0.75rem;
    }
    .break-tag{
        display: none;
    }
}