
.contact-main-header{
    background-color: rgb(255, 255, 255);
    /* height: 100vh; */
}
.contact-header{
    width: 100%;
    height: 40vh;
    background-image: url('../Assets/contactus.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-header-address-bar{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    /* background-color: red; */
    transform: translate(0%,-50%);
}
.contact-address{
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
    padding: 1rem 0rem;
    background-color: white;
    width: 20%;
    min-height: 200px;
    box-shadow: 0px 0px 2px rgb(177, 175, 175);
}
.contact-address h4{
    padding: 1rem;
    margin: 0;
}
.contact-address div{
    padding: 0rem 1.5rem;
    /* text-align: justify; */
}

.contact-map{
    display: flex;
    align-items: center;
    justify-content: center;
}
.map-google{
    /* background-color: red; */
    margin-inline: auto;
}
.contact-form{
    display: flex;
    padding: 1rem 3rem;
}
.contact-form picture{
    flex-basis: 60%;
    width: 100%;
}
.contact-form picture>img{
    object-fit: cover;
    width: 100%;
    height: 80%;
    filter:invert(1)
}
.contact-form-content{
    flex-basis: 40%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.contact-form-content h2{
    text-align: center !important;
    padding: 0 0;
    margin: 0;
 
}
.contact-form-content .contact-form-content-2{
    text-align: justify;
    padding: 0.5rem 2rem;
    color: grey;
}
.popup{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem 2rem;
    /* height: 100vh; */
    /* width: 50%; */
}
.popup-content{
    border-radius:25px ;
    width: auto !important;
    

}
.popup-header div>h2{
    padding: 0.5rem 0rem;
    margin: 0%;
    text-transform: uppercase;
    text-align: left;
    width: max-content;
}
.popup-header div {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.popup-header-cont{
    font-size: 15px;
}
.popup-header div> div{
    cursor: pointer;
}

.popup-form{
    padding: 0.5rem 0rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

.popup-form label>span>sup{
    color: red;
}
.popup-form label{
    text-transform: capitalize;
}
.color-red{
    color: red;
}
.popup-form input{
    /* width: 50%; */
    /* height: 2.5rem; */
    text-align: start;
    padding: 0.75rem;
    border: 2px solid rgb(212, 212, 212);
    outline: none;
}
.popup-comments{
    height: 5rem !important;
    /* width: 50%; */
    border: 2px solid rgb(212, 212, 212);
    outline: none;

    resize: none;
}
.actions{
    display: flex;
    gap: 30px;
    width: 100%;
    /* background-color: red; */
}

.contact-btn{
    padding: 0.75rem 2rem;
    border: none; 
   
    border-radius: 10px;
    width: 100%;
    /* background-color: black; */
    background-image: linear-gradient(125deg ,rgb(25, 20, 26),rgb(25, 20, 26),rgb(25, 20, 26),rgb(206, 206, 206));
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    transition:all 0.6s ease;
}
.contact-btn:hover{
    background-image: linear-gradient(125deg ,rgb(206, 206, 206),rgb(206, 206, 206),rgb(206, 206, 206),rgb(25, 20, 26));
    color: black;
    /* background-color: white; */
}
.contact-get-in-touch {
    padding: 0.75rem 2rem;
    /* border: none;  */
   margin-left: 3%;
    border-radius: 10px;
    width: 50%;
    /* background-color: black; */
    /* background-image: linear-gradient(125deg ,rgb(25, 20, 26),rgb(25, 20, 26),rgb(25, 20, 26),rgb(206, 206, 206)); */
    color: black;
    text-transform: uppercase;
    font-weight: 600;
    transition:all 0.6s ease;
    border:1px solid rgb(163, 163, 163);
    background-color: white;
    text-align: center;
    
}
.contact-get-in-touch:hover{
    background-image: linear-gradient(125deg ,rgb(25, 20, 26),rgb(25, 20, 26),rgb(25, 20, 26),rgb(206, 206, 206));
    color: white;
}

@media (max-width:768px) {
    .contact-form-content h2{
        font-size: 15px;
    }
    .contact-form-content-2{
        font-size: 12px;
    }
    .contact-get-in-touch{
        width: 50%;
        padding: 0.5rem 1rem;
    }
    .contact-address{
        padding: 0.5rem;
        /* justify-content: space-evenly; */
    }
    .contact-address div{
        font-size: 12px;
        padding: 0rem 0.2rem;
    }
    .contact-address picture{
        padding: 0.75rem 0rem;
    }
}

@media (max-width:767px) {
    .contact-header-address-bar{
        flex-direction: column;
        gap: 20px;
        transform: translate(0%,0%);
        padding: 0.5rem 0rem;
        position: relative;
        z-index: 1;
    }
    .contact-address{
        width: 50%;
        /* height: 50vh; */
    }
    .contact-header{
        /* height: 100vh; */
        position: absolute;
        top: 20%;
        z-index: 1;

    }
    .contact-form{
        flex-direction: column;
    }
    .contact-form-content h2{
        
    }
    .contact-form-content .contact-form-content-2{
        text-align: justify;
        padding: 0.5rem 0.75rem;
        color: grey;
    }
    .contact-get-in-touch{
        padding: 0.5rem;
        width: 60%;
    }

    
}