@import url('https://fonts.googleapis.com/css2?family=Poppins');
.Header-display{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-family: "Poppins";
    font-weight: 560;
    font-size: 15px;
<<<<<<< HEAD
    background: darkgray;
    /* position: fixed; 
    top: 0; 
    left: 0;  */
    /* width: 100%;  */
    /* z-index: 1000; */
=======
    background: black;
    position: fixed;
    width: 1550px;
    top: 0;
    left: 0;
    z-index: 1000;
>>>>>>> 2057a0ca5fc2264005935799322487b7aeda95cc

}
.header-picture{
    flex-basis: 40%;
    padding: 10px 10px;
    user-select: none;

}
.Header-inner{
    flex-basis: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.Header-logo{
    width: 250px;
    height:100px;
    /* filter: brightness(0) grayscale(100%); */
    
}
.header-div{
    /* background-color: red; */
    color:white;
    padding: 1%;
    cursor: pointer;
    user-select: none;
}
.header-div:hover{
    color: #a8e6cf ;
}

.header-select-div {
    border-bottom: 1.5px solid rgb(231, 124, 241);
    border-radius: 1px;
    color: #ffe0e0 ;
    transform: scale(1.1);
}

.hambarger{
    display: none;
}

@media (max-width:767px) {
    .Header-inner{
        display: none;
    }
    .Header-logo{
        width: 180px;
        height: 100px;
    }
    .hambarger{
        display: block;
        flex-basis: 20%;
        width: 100px;
    }
    .Header-display{
        justify-content: space-between;
    }
    .hambarger-inner{
        display: flex;
        align-items: center;
        /* justify-content: center; */
    }
    .header-hamberger{
        display: flex;
        flex-direction: column;
        background-color: white;
        border: 2px solid #c2c1c1;
        align-items: center;
        position: absolute;
        width: 100px;
        height: 35vh;
        top: 20%;
        right: 5%;
        color: #c2c1c1;
        animation: swipe  1s linear;
    }
    @keyframes swipe {
        0%{
            top: -40%;
        }
        100%{
            top: 20%;
        }
    }
    .header-hamberger div:hover{
        color: #3a3838;
    }
    .header-hamberger-hide{
        animation: swipe alternate-reverse 2s linear;
        display: none;
    }
}