
.footer-display{
    display: flex;
    /* align-items: center; */
    background-image: linear-gradient(45deg,blueviolet,grey,blueviolet);
    gap: 5px;
    width: 100%;
    /* height: 50vh; */

}
.Footer-logo{
    width: 200px;
    height:70px;
    filter: sepia(80%);
}
.footer-image{
    margin: 4%;
    flex-basis: 20%;
}
.footer-content{
    flex-basis: 40%;
    display: flex;
    /* align-items: center;  */
    margin-top: 5%;
    padding: 3px;
    gap: 10px;
    color: white;
    
}
.footer-po{
    cursor: pointer;
}
.footer-content-2{
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    margin-top: 5%;

    /* align-items: center; */
    gap: 15px;
    color: white;

}
.footer-inner{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.footer-inner-header{
    font-weight: 600;
    text-align: left;
    text-transform: capitalize;
}
.footer-social{
    display: flex;
    gap: 20px;
    padding: 0px;
    flex-wrap:wrap;
    /* cursor: pointer; */
    padding: 5px;
}
.footer-icons{
    width: 40px;
    height: 40px;
}
.footer-whatsapp{
    color: rgb(11, 255, 11);
    border:2px solid white;
    padding: 2px;
  
}
.footer-insta{
    color: rgb(255, 0, 255);
    border:2px solid white;
    padding: 2px; 
}
.footer-linkedin{
    color: rgb(65, 13, 255);
    border:2px solid white;
    padding: 2px; 
}
.footer-facebook{
    color: rgb(55, 0, 253);
    border:2px solid white;
    padding: 2px; 
}
.footer-inside-div{
    padding: 5px 15px 15px 5px  ;
}

@media (max-width:1023px){
    .footer-display{
        flex-direction: column;
        align-items: center;
    }
    .footer-content{
        flex-wrap: wrap;
        /* margin-left: 10px; */
        /* align-items: center; */
    }
    .footer-social{
        justify-content: center;
    }

}

@media (max-width:767px){
    .footer-display{
        flex-direction: column;
        align-items: center;
    }
    .footer-content{
        flex-wrap: wrap;
        padding-left: 10px;
    }
    .footer-content-2{
        flex-wrap: wrap;
        padding-left: 10px;
    }
    .footer-icons{
        width: 30px;
        height: 30px;
    }
    
}