.Time-line-opacity{
    color: grey;
    font-size: 6rem;
    opacity: 0.6;
}
.TimeLine-header{
    width: min(100%,90%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.TimeLine-pic{
    width: 100%;
    height:250px;
    background-color: red;
   
}
.TimeLine-pic img{
    width: 100%;
    height: 100%;
    object-fit: fill;
   
}
.TimeLine-para{
    text-align: justify;
    padding: 1rem 2rem;
    position: relative;
}
.TimeLine-span{
 
    font-family: 'calibri';
    font-size: 2rem;
    color: transparent;
    font-style: oblique;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    
}
.TimeLine-Date{
    padding: 0rem 2rem;
}
.TimeLine{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.TimeLine-container-cont{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-evenly;
  
}

@media (max-width:767px) {
    .Time-line-opacity{
        font-size: 2rem;
    }
    .TimeLine-para{
        padding: 1rem 0.5rem;
    }
}