.Bussiness-display{
    height: auto;
}
.Bussiness-inner{
    padding: .5rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
    color: grey;
}

.Bussiness-upper{
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 5px;
}

.Bussiness-header{
    text-align: left;
    padding: 0px 10px;
    margin: 5%;
    color: black !important;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.bussiness-head{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    color: black !important;
}

.bussiness-para{
    text-wrap: wrap;
    text-align: justify;
}

@media (max-width:768px) {
    .Bussiness-inner{
        padding: 0rem 1.5rem;
    }
    .bussiness-para{
        font-size: 15px;
    }
}

@media (max-width:767px) {
    .Bussiness-upper{
        grid-template-columns: 1fr;
    }
    .Bussiness-header{
        text-align: center;
    }
    .Bussiness-inner{
        align-items: center;
    }
    .bussiness-para{
        font-size: 12px;
    }
    .Bussiness-header{
            font-size: 12px;
    }
    .bussiness-head{
        text-align: center;
    }
}